---
import Layout from '../components/Layout.astro';
import Page from '@doxyfixy/components/src/page/Page.svelte';

export async function getStaticPaths() {

const pages = await fetch('https://doxyfixy.lotsofpeople.nl/wp-json/wp/v2/pages?per_page=100&_fields[]=slug').then(person => person.json());

return pages.map(person => {
    return {
        params: {slug: person.slug}
    }
});
}

const { slug } = Astro.params;
const pages = await fetch('https://doxyfixy.lotsofpeople.nl/wp-json/wp/v2/pages?per_page=100&slug=' + slug).then(pages => pages.json());
const page = pages[0];

---

<Layout title={page.title.rendered}>

	<Page
		title={page.title.rendered}
        intro={page.intro_text}
        grid={false}
		client:visible
	>

        <article>

            <img
                src={page.featured_image.guid}
                alt={page.featured_image.post_title}
                decoding="async"
                loading="lazy"
                style="width:calc(100vw - 32px); "
            >
        
            <p class="page-intro-text" set:html={page.contents.trim().replace(/\n/g, '<br>').replace(/<br>+/g, '').replace(/<p><\/p>/g, '')}></p>
        </article>

	</Page>

</Layout>