---
import Layout from '../components/Layout.astro';
import GridPage from '@doxyfixy/components/src/grid-page/GridPage.svelte';
import Card from '@doxyfixy/components/src/card/Card.svelte';

const settings = await fetch('https://doxyfixy.lotsofpeople.nl/wp-json/settings/pages').then(res => res.json());
const fields = settings.data.row;
const introText = fields.intro_text;

const allFilms = await fetch('https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/film?per_page=100').then(res => res.json());
const films = fields.highlighted_films.map(highlightedFilm => allFilms.find(film => film.id == highlightedFilm.ID));

const images = Object.fromEntries(await Promise.all(films.map(film => fetch(`https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/media/${film.featured_image.ID}`))).then(responses =>
    Promise.all(responses.map(async res => {
		const json = await res.json();
		return [json.id, json.media_details?.sizes?.full || {}];
	})))
);

const genres = await fetch('https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/genre').then(res => res.json());
const genreNames = Object.fromEntries(genres.map(genre => ([genre.id, genre.name])));

---

<Layout logoColor="white">

	<a href={`/films/${films[0].slug}`} slot="header">

		<Card
			title={films[0].editorial_headline}
			subtitle={films[0].editorial_subtitle}
			tags={(films[0].genre || []).map(id => genreNames[id])}
			size="hero"
			editorial
		>
			<img
				loading="lazy"
				decoding="async"
				src={films[0].editorial_image.guid}
				style={`object-position: ${films[0].editorial_image_focus_point_x_axis || 50}% ${films[0].editorial_image_focus_point_y_axis || 50}%`}

			>
		</Card>
	</a>
	<img src="/arrow_down.svg" class="arrow-icon" slot="header">

	<GridPage bigintro intro={introText[0]} twocols client:visible>

		<a href={`/films/${films[1].slug}`}>

			<Card
				title={films[1].title.rendered}
				subtitle={films[1].logline}
				tags={(films[1].genre || []).map(id => genreNames[id])}
			>
				<img
					loading="lazy"
					decoding="async"
					src={(images[films[1].featured_image.ID] || {}).source_url}
					style={`object-position: ${films[1].featured_image_focus_point_x_axis || 50}% ${films[1].featured_image_focus_point_y_axis || 50}%`}

				>
			</Card>
		</a>

		<a href={`/films/${films[2].slug}`}>

			<Card
				title={films[2].title.rendered}
				subtitle={films[2].logline}
				tags={(films[2].genre || []).map(id => genreNames[id])}
			>
				<img
					loading="lazy"
					decoding="async"
					src={(images[films[2].featured_image.ID] || {}).source_url}
					style={`object-position: ${films[2].featured_image_focus_point_x_axis || 50}% ${films[2].featured_image_focus_point_y_axis || 50}%`}

				>
			</Card>
		</a>
		
	</a>

	</GridPage>

	<GridPage bigintro intro={introText[1]}>

		<a href={`/films/${films[3].slug}`}>

			<Card
				title={films[3].title.rendered}
				subtitle={films[3].logline}
				tags={(films[3].genre || []).map(id => genreNames[id])}
			>
				<img
					loading="lazy"
					decoding="async"
					src={(images[films[3].featured_image.ID] || {}).source_url}
					style={`object-position: ${films[3].featured_image_focus_point_x_axis || 50}% ${films[3].featured_image_focus_point_y_axis || 50}%`}

				>
			</Card>
		</a>

	</GridPage>

	<GridPage bigintro intro={introText[2]} twocols client:visible>

		<a href={`/films/${films[4].slug}`}>

			<Card
				title={films[4].title.rendered}
				subtitle={films[4].logline}
				tags={(films[4].genre || []).map(id => genreNames[id])}
			>
				<img
					loading="lazy"
					decoding="async"
					src={(images[films[4].featured_image.ID] || {}).source_url}
					style={`object-position: ${films[4].featured_image_focus_point_x_axis || 50}% ${films[4].featured_image_focus_point_y_axis || 50}%`}

				>
			</Card>
		</a>

		<a href={`/films/${films[5].slug}`}>

			<Card
				title={films[5].title.rendered}
				subtitle={films[5].logline}
				tags={(films[5].genre || []).map(id => genreNames[id])}
			>
				<img
					loading="lazy"
					decoding="async"
					src={(images[films[5].featured_image.ID] || {}).source_url}
					style={`object-position: ${films[5].featured_image_focus_point_x_axis || 50}% ${films[5].featured_image_focus_point_y_axis || 50}%`}

				>
			</Card>
		</a>

	</GridPage>

	<GridPage bigintro intro={introText[3]}>

		<a href={`/films/${films[6].slug}`}>

			<Card
				title={films[6].title.rendered}
				subtitle={films[6].logline}
				tags={(films[6].genre || []).map(id => genreNames[id])}
			>
				<img
					loading="lazy"
					decoding="async"
					src={(images[films[6].featured_image.ID] || {}).source_url}
					style={`object-position: ${films[6].featured_image_focus_point_x_axis || 50}% ${films[6].featured_image_focus_point_y_axis || 50}%`}

				>
			</Card>
		</a>

	</GridPage>


</Layout>