---
import Layout from '../components/Layout.astro';
import GridPage from '@doxyfixy/components/src/grid-page/GridPage.svelte';
import Card from '@doxyfixy/components/src/card/Card.svelte';

const persons = await fetch('https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/person').then(res => res.json());

const images = Object.fromEntries(await Promise.all(persons.map(person => fetch(`https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/media/${person.featured_image.ID}`))).then(responses =>
    Promise.all(responses.map(async res => {
		const json = await res.json();
		return [json.id, json.media_details.sizes.medium_large || {}];
	})))
);

const professions = await fetch('https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/profession').then(res => res.json());
const professionNames = Object.fromEntries(professions.map(profession => ([profession.id, profession.name])));

const personCategories = await fetch('https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/person_category').then(res => res.json());
const personCategoryNames = Object.fromEntries(personCategories.map(person_category => ([person_category.id, person_category.name])));


---

<Layout title="Mensen">

	<GridPage
		title="Onze Mensen"
		intro="Deze wordt later vervangen door de uiteindelijke tekst, die nu nog niet bekend is. De faketekst is dus een tekst die eigenlijk nergens over gaat. Het grappige is, dat mensen deze toch vaak lezen."
		tags={Object.values(personCategoryNames)}
		client:visible
	>


	{persons.map((person) =>
		<a href={`/people/${person.slug}`}>

		<Card
			size="portrait"
			title={person.title.rendered}
			subtitle={person.role}
			summary={person.card_text}
			tags={(person.person_category || []).map(id => personCategoryNames[id])}
		>
			<img
				loading="lazy"
				decoding="async"
				src={(images[person.featured_image.ID] || {}).source_url}
			>
		</Card>
		</a>

	)}

	</GridPage>

</Layout>