---
import BaseHead from './BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import NavBar from './NavBar.astro';
import Footer from '@doxyfixy/components/src/footer/Footer.svelte';

import { ViewTransitions } from 'astro:transitions';

const { title = '', logoColor = 'black' } = Astro.props;
const logoFillCSS = `--doxy-logo-fill: ${logoColor}`;

const pageTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={pageTitle} description={SITE_DESCRIPTION} />
		<link rel="preload" href="https://use.typekit.net/uuj0klm.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<ViewTransitions />
	</head>
	<body>

		<div id="container" style={logoFillCSS}>

			<NavBar/>
			
			<slot name="header"/>

			<main>
				<slot/>
			</main>


			<Footer />

			<style>

				#container {
					display: flex;
					flex-direction: column;
					gap: calc( max(5vmin, 24px) );
					--doxy-logo-fill: {logoColor}
				}

				main {
					display: flex;
					flex-direction: column;
					width: 100%;
					max-width: 1280px;
					gap: var(--doxy-padding-xxxl);
					padding: 0 var(--doxy-padding-xl);
					margin: 0 auto;
				}

				.doxy-header {
					position: absolute;
					/* z-index: 1; */
				}

			</style>

		</div>
		
	</body>
</html>