---
import Layout from '../../components/Layout.astro';
import Page from '@doxyfixy/components/src/page/Page.svelte';
import Card from '@doxyfixy/components/src/card/Card.svelte';

export async function getStaticPaths() {

    const filmsRes = await fetch('https://doxyfixy.lotsofpeople.nl/wp-json/wp/v2/film?per_page=100&_fields[]=slug');
    const films = await filmsRes.json();

    return films.map(film => {
        return {
            params: {slug: film.slug}
        }
    });
}

const { slug } = Astro.params;
const filmsRes = await fetch('https://doxyfixy.lotsofpeople.nl/wp-json/wp/v2/film?per_page=1&slug=' + slug);
const films = await filmsRes.json();
const film = films[0];

const genresRes = await fetch('https://doxyfixy.lotsofpeople.nl//wp-json/wp/v2/genre');
const genres = await genresRes.json();
const genreNames = Object.fromEntries(genres.map(genre => ([genre.id, genre.name])));

---

<Layout title={film.title.rendered} logoColor="white">

    <Card
        slot="header"
        title={film.title.rendered}
        subtitle={film.logline}
        tags={(film.genre || []).map(id => genreNames[id])}
        size="hero"
    >
    <img
        src={film.featured_image.guid}
        decoding="async"
        loading="lazy"
        style={`object-position: ${film.featured_image_focus_point_x_axis || 50}% ${film.featured_image_focus_point_y_axis || 50}%`}
    > 
    <img
        src={film.laurel_image?.guid}
        hidden={!film.laurel_image}
        decoding="async"
        loading="lazy"
        slot="laurel"
    >   

    {film.header_video?.guid ?
    <video
        src={film.header_video.guid}
        autoplay
        muted
        playsinline
        loop
    ></video>
    : ''}

    </Card>

	<Page grid={false}>

        <article>

            <p style="text-align:start;" set:html={film.synopsis.replace(/\n/g, '<br>').replace(/\s+/g, ' ')}></p>

            {film.vimeo_trailer_url ?
                <iframe
                class="video-container"
                src={`https://player.vimeo.com/video/${film.vimeo_trailer_url?.match(/[0-9]+/)?.[0]}?h=a7ad9099dc&title=0&byline=0&portrait=0`}
                frameborder="0"
                allow="autoplay; fullscreen; picture-in-picture"
                allowfullscreen
                style={`--video-trailer-aspect-ratio: ${film.video_trailer_aspect_ratio || '16/9'}`}
            ></iframe>
            : ''}

            {film.cast ?
            <h4>Cast</h4>
            <p set:html={film.cast.replace(/\n/g, '<br>').replace(/\s+/g, ' ').replace(/<br>(\s+)<br>/g, '<br>')}></p>
            : ''}

            {film.credits ?
            <h4>Credits</h4>
            <p set:html={film.credits.replace(/\n/g, '<br>').replace(/\s+/g, ' ').replace(/<br>(\s+)<br>/g, '<br>')}></p>
            : ''}

            {film.artwork ?
            <h4>Artwork</h4>
            <p set:html={film.artwork.replace(/\n/g, '<br>').replace(/\s+/g, ' ').replace(/<br>(\s+)<br>/g, '<br>')}></p>

            <p style="margin-top: 0">
                <img
                    src={film.poster.guid}
                    loading="lazy"
                    decoding="async"
                    style="max-height: 80vh;border-radius:0"
                >
            </p>
            : ''}                

            {film.festivals ?
            <h4>Festivals</h4>
            <p set:html={film.festivals.replace(/\n/g, '<br>').replace(/\s+/g, ' ').replace(/<br>(\s+)<br>/g, '<br>')}></p>
            : ''}


            {film.prices ?
            <h4>Prijzen</h4>
            <p set:html={film.prices.replace(/\n/g, '<br>').replace(/\s+/g, ' ').replace(/<br>(\s+)<br>/g, '<br>')}></p>
            : ''}                

            {film.reviews ?
            <h4>Reviews</h4>
            <p set:html={film.reviews.replace(/\n/g, '<br>').replace(/\s+/g, ' ').replace(/<br>(\s+)<br>/g, '<br>')}></p>
            : ''}

            {(film.still_images || []).length > 0 ? <h4>Stills</h4> : '' }

            {(film.still_images || []).map((still) => 
                <img
                    src={still.guid}
                    loading="lazy"
                    decoding="async"
                    style="width: calc(100% + 32px);margin: 12px -16px"
                >
            )}

    </article>

	</Page>

</Layout>